@{
    ViewData["Title"] = "Librarian";
}
<h3>Librarian Entry</h3>
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}

<form action="/librarian/entry" method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="type name" required name="Name">

    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="type Email" required name="Email">

    </div>


    <button type="submit" class="btn btn-primary">Entry</button>
    <a href="/librarian/list" class="btn btn-outline-primary">List</a>
</form>
