@{
    ViewData["Title"] = "Category";
}
<h3>Category Entry</h3>
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["status"]))
    {
        <div class="alert alert-success" role="alert">
           @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
           @info
        </div>
    }
}

<form action="/category/entry" method="post">
    <div class="mb-3">
        <label  class="form-label">Name</label>
        <input type="text" class="form-control" placeholder="type name" required name="Name">
        
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" placeholder="type description" required name="Description">

    </div>
    
    
    <button type="submit" class="btn btn-primary">Entry</button>
    <a href="/Category/list" class="btn btn-outline-primary">List</a>
</form>